<link rel='preconnect' href='https://cdnjs.cloudflare.com' crossorigin>
<link rel="preload" as="font" href="{{ "fonts/inter-all-400-normal.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/inter-all-500-normal.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/inter-all-600-normal.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/inter-all-700-normal.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/lora-all-400-normal.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/lora-all-400-italic.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/lora-all-700-normal.woff" | absURL }}" type="font/woff" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/lora-all-700-italic.woff" | absURL }}" type="font/woff" crossorigin>