<link rel='preconnect' href='https://cdn.skypack.dev' crossorigin>

<link rel="preload" href="/fonts/inter-all-400-normal.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/inter-all-500-normal.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/inter-all-600-normal.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/inter-all-700-normal.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/lora-all-400-normal.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/lora-all-400-italic.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/lora-all-700-normal.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/lora-all-700-italic.woff" as="font" type="font/woff" crossorigin>