<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<script>
    // It's best to inline this in `head` to avoid FOUC (flash of unstyled content) when changing pages or themes
    if ( localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches) ) {
        document.documentElement.classList.add('dark');
    } else {
        document.documentElement.classList.remove('dark');
    }
</script>

<script type="module" defer>
    import Turbo from 'https://cdn.skypack.dev/@hotwired/turbo';

    let listeners

    export const applyListeners = () => {
        const toggle = document.querySelector('.js-theme-toggle')
        if (toggle) toggle.addEventListener('click', toggleTheme, false)
        return () => {
            toggle.removeEventListener('click', toggleTheme, false)
        }
    }

    document.addEventListener('turbo:load', () => {
        listeners = applyListeners()
    })

    document.addEventListener('turbo:before-render', () => {
        try {
            listeners()
        } catch (e) {}
    })
</script>
