{{ $li_class := "flex items-center justify-center m-0" }}
{{ $a_class := "h-8 w-8 inline-flex items-center justify-center text-black" }}
{{ $svg_class := "h-5 w-5" }}

<nav class="hidden lg:flex order-3">
    <ul class="list-none p-0 m-0 flex flex-row gap-x-4">
        {{ with .Param "twitter" }}
            <li class="{{ $li_class }}">
                <a class="{{ $a_class }}" href="{{ . }}" target="_blank">
                    <svg fill="currentColor" class="{{ $svg_class }}"><use xlink:href="#icon-twitter"></use></svg>
                    <span class="sr-only">Twitter</span>
                </a>
            </li>
        {{ end }}

        {{ with .Param "instagram" }}
            <li class="{{ $li_class }}">
                <a class="{{ $a_class }}" href="{{ . }}" target="_blank">
                    <svg fill="currentColor" class="{{ $svg_class }}"><use xlink:href="#icon-instagram"></use></svg>
                    <span class="sr-only">Instagram</span>
                </a>
            </li>
        {{ end }}

        {{ with .Param "facebook" }}
            <li class="{{ $li_class }}">
                <a class="{{ $a_class }}" href="{{ . }}" target="_blank">
                    <svg fill="currentColor" class="{{ $svg_class }}"><use xlink:href="#icon-facebook"></use></svg>
                    <span class="sr-only">Facebook</span>
                </a>
            </li>
        {{ end }}
    </ul>
</nav>