{{ if $.Params.featured_image }}

{{ $image := resources.Get ( printf "images/%s" .Params.featured_image ) }}
    {{- if isset .Params "featured_image" }}
        <figure class="block mt-6 col-start-wide col-end-wide">
            <img
                srcset="
                    {{ ( $image.Resize "360x" ).RelPermalink }} 360w,
                    {{ ( $image.Resize "600x" ).RelPermalink }} 600w,
                    {{ ( $image.Resize "780x" ).RelPermalink }} 780w,
                    {{ ( $image.Resize "1024x" ).RelPermalink }} 1024w,
                    {{ ( $image.Resize "1366x" ).RelPermalink }} 1366w
                "
                src='{{ ( $image.Resize "1024x" ).RelPermalink }}'
                sizes="(min-width: 1366px) 1366px, 100w"
                width="1366"
                height="auto"
                alt="{{ index .Params "featured_image_alt" }}"
            />

            {{- if isset .Params "featured_image_caption" }}
                <figcaption class="featured-image-caption">{{ index .Params "featured_image_caption" }}</figcaption>
            {{- end }}
        </figure>
    {{ end }}
{{ end }}