<footer class="py-8 mt-8 border-t border-zinc-200 dark:border-t-zinc-700 border-solid bg-white dark:bg-zinc-900">
    <div class="max-w-screen-xl mx-auto px-5 lg:px-9">
        <div class="flex flex-col lg:flex-row justify-between lg:items-center">
            <div class="flex flex-col mb-4 lg:mb-0">
                <div class="font-sans block text-gray-700 dark:text-gray-100 text-sm"><b>© 2022 - {{ .Site.Params.siteTitle }}</b></div>
                <div class="font-sans block mt-2 text-gray-700 dark:text-gray-100 text-sm">{{ T "copyright" }} {{ T "version" }} 1.0 - <a class="font-bold uppercase" href="/changelog">{{ T "changelog" }}</a></div>
            </div>

            {{ partial "menus/footer-navigation.html" . }}
        </div>
    </div>
</footer>

<div class="z-50 fixed max-w-sm max-h-sm bg-orange-700 dark:bg-zinc-900 p-5 drop-shadow-lg rounded-md text-white left-4 bottom-4 text-base leading-relaxed invisible" id="cookie-notice">
    {{ T "cookiesNotice" }}

    <button class="border border-solid border-white block w-full py-3 rounded-md mt-5 bg-white text-orange-700 font-bold hover:bg-orange-800 hover:text-white dark:bg-zinc700 dark:hover:bg-zinc800 transition-colors duration-300 drop-shadow-lg" onclick="acceptCookie();">Tudo bem!</button>
</div>