<article class="{{ if .IsHome }}lg:col-start-1 lg:col-end-3 max-w-3xl w-full mx-auto{{ end }}">
    <div class="flex flex-row gap-4 lg:gap-6">
        {{ $image := resources.Get ( printf "images/%s" .Params.featured_image ) }}

        {{ with $image }}
        <a href="{{ .RelPermalink }}" class="w-24 flex-shrink-0 h-full relative before:content-[''] before:block before:pb-custom-70 lg:w-32">
            <figure>
                <img
                    class="block max-w-full h-full left-0 object-cover absolute top-0 w-full"
                    srcset="
                        {{ ($image.Resize "300x center").RelPermalink }} 360w,
                        {{ ($image.Resize "720x center").RelPermalink }} 7206w,
                        {{ ($image.Resize "960x center").RelPermalink }} 960w,
                        {{ ($image.Resize "1200x center").RelPermalink }} 1200w,
                        {{ ($image.Resize "2000x center").RelPermalink }} 2000w,
                    "
                    sizes="(max-width: 1200px) 100vw, 1200px"
                    src="{{ ($image.Resize "2000x center").RelPermalink }}"
                    alt="{{ .Title }}"
                />
            </figure>
        </a>
        {{ end }}

        <div class="w-full -mt-[3px]">
            <header>
                <h3 class="tracking-tighter m-0 text-base lg:text-xl"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            </header>

            {{ if .IsHome }}
                {{ if .Params.excerpt }}
                    <div class="text-base{{ if .IsPage }} mt-1{{ else -}} mt-3{{ end -}}">{{ .Excerpt }}</div>
                {{ end }}
            {{ end -}}

            <footer class="flex items-center text-[11px] gap-x-2 font-medium mt-2 lg:mt-3 uppercase leading-none font-sans">
                {{ if .Params.authors }}
                    <span class="posted-by hidden lg:block">
                        {{ T "by" }}  
                        {{ if .Params.authors -}}
                        {{ range $index, $contributor := .Params.authors }}
                        {{ if gt $index 0 }} e {{ end }}
                        <a class="font-bold" href="{{ "/autor/" | relURL }}{{ . | urlize }}/">{{ . }}</a>
                        {{ end }}
                    </span>
                    {{ end -}}
            
                    <span class="bg-current rounded-full h-[2px] w-[2px] hidden lg:block"></span>
                {{ end -}}
                <time class="posted-on list-none" datetime="{{ .PublishDate.Format "02/01/2006"}}">{{ .PublishDate.Format "02/01/2006"}}</time>
            </footer>
        </div>
    </div>
</article>