<header class="site-header bg-zinc-200 dark:bg-zinc-800">
    <div class="max-w-screen-xl mx-auto px-4 relative flex items-center h-16 lg:h-20">
        <div class="flex flex-1 justify-between items-center lg:hidden">
            {{ block "menu-toggle-mobile" . }}{{- partial "header/menu-toggle" . -}}{{ end }}
            {{ block "site-branding-mobile" . }}{{- partial "header/site-branding" . -}}{{ end }}
            {{ block "search-toggle-mobile" . }}{{- partial "header/search-toggle" . -}}{{ end }}
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-between lg:items-center">
            <div class="flex flex-1 justify-start items-center gap-x-4">
                {{ block "menu-toggle-desktop" . }}{{- partial "header/menu-toggle" . -}}{{ end }}
                {{ block "search-toggle-desktop" . }}{{- partial "header/search-toggle" . -}}{{ end }}
            </div>

            <div class="flex flex-1 justify-center items-center">
                {{ block "site-branding-desktop" . }}{{- partial "header/site-branding" . -}}{{ end }}
            </div>

            <div class="flex flex-1 justify-end items-center">

            </div>
        </div>
    </div>
</header>