<header id="masthead" class="site-header sticky top-0 bg-white dark:bg-zinc-900 border-b border-zinc-200 dark:border-zinc-700 z-50 transition-all duration-300">
    <div class="max-w-screen-xl mx-auto px-5 lg:px-9 relative flex items-center h-16">
        <div class="flex justify-start items-center w-full gap-x-4 lg:gap-x-6">
            {{ block "menu-toggle" . }}{{- partial "header/menu-toggle" . -}}{{ end }}
            {{ block "site-branding" . }}{{- partial "header/site-branding" . -}}{{ end }}
            {{ block "main-navigation" . }}{{- partial "menus/main-navigation" . -}}{{ end }}
            {{ block "social-navigation" . }}{{- partial "menus/social-navigation" . -}}{{ end }}
            {{ block "dark-mode-toggle" . }}{{- partial "header/dark-mode-toggle" . -}}{{ end }}
            {{ block "search-toggle" . }}{{- partial "header/search-toggle" . -}}{{ end }}
        </div>
    </div>
</header>