<div class="flex flex-nowrap flex-none align-middle order-2">
    {{ if .IsHome -}}
        <h1 class="leading-loose text-xl lg:text-2xl m-0 font-bold tracking-tight">
            <a class="font-sans text-zinc-800 dark:text-white" href="/">
                {{ .Site.Params.SiteTitle }}
            </a>
        </h1>
    {{ else -}}
        <p class="leading-loose text-xl lg:text-2xl m-0 font-bold tracking-tight">
            <a class="font-sans text-zinc-800 dark:text-white" href="/">
                {{ .Site.Params.SiteTitle }}
            </a>
        </p>
    {{ end -}}
</div>